
.searchBox{
    margin-top: 100px;
    background-color: khaki;
    background-color: black;
}

.menuTiles{
    margin-top: 100px;
    /* background-color: rgba(0, 0, 0, 0.5); */
}
/* .slider{
    margin-top: 100px;
} */
a {
    font: Georgia, serif;
    font-size: large;
    color: black;
  }
  a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
  }
  a:visited {
    color: rgb(0, 0, 0);
  }
  a:hover {
    color: rgb(160, 140, 52);
  
  }
  a:active {
    color: rgb(0, 0, 0);
  }
  