.section-row{
	padding: 0px 0;
  	h1{
		margin: 0 0 15px;
		a{
			color: $white;
			display: inline-block;
			span {
				display: inline-block;
				width: 65px;
				height: 65px;
				text-align: center;
				border-radius: 50%;
				background-color: #e7e9ed;
				line-height: 60px;
				margin: 0 5px 0 0;
				img{
					max-width:40px;
				}
			}
		}
  	}
}

body {
	font-family: $font-family-base;
	font-weight: 400;
}

p{
	&:last-child{
		margin: 0 !important;
	}
}

img{
	max-width: 100%;
	width: auto;
	height: auto;
}

a, .btn{
	transition: all 0.25s ease-in-out;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-ms-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	&:hover, &:active, &:focus {
		text-decoration: none;
		outline: none;
		color: $white;
	}
}

.btn-link:hover, .btn-link:focus {
	color: #23527c !important;
	background-color: #f5f5f5 !important;
}

.btn-action {
	text-align: left;
	padding: 5px 16px !important;
	margin: 0 !important;
}

.btn-action > a {
	padding: 0 !important;
}

.form-group {
	margin-bottom: 20px;
	position: relative;
	&:last-child{
		margin-bottom: 0;
	}
}

.error-msg{
	display: block;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: -18px;
	font-size: 12px;
	color: #ff0000;
}

.form-horizontal{
	.error-msg{
		bottom: -10px;
		left: 15px;
	}
}

.breadcrumb{
	a{
		&:hover{
			color: #337ab7;
		}
	}
}

h1{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 28px;
}

h2{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 26px;
	margin: 0;
}

h3{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 22px;
}

h4{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	font-weight: 600;
}

h5{
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 600;
}

.btn{
	padding: 8px 12px;
}

.btn.btn-cloud{
	background-color: $btn-color !important;
	color: $white !important;
	&:hover, &:focus{
		color: $white !important;
	}
}

.btn-cloud-default{
	background-color:$btn-bg-default;
	color: $text-color;
}

.open .dropdown-menu {
  	display: block !important;
}

.form-control:focus{
  	outline: none;
}

.ip-status{
	font-size: 11px;
	display: inline-block;
	margin: 0 5px 0 0;
	border-radius: 2px;
	width: 30px;
	text-align: center;
	line-height: 18px;
}

.progress-bar-gray{background-color: #455A64;}
.c-yellow{background-color: #ffca28 !important;}
.c-green{background-color: #4cd964 !important; color: $white;}
.c-red{background-color: #ff2d55 !important; color: $white !important;}
.c-white{background-color: $white !important; color: $gray-dark !important;}
.c-blue{background-color: #8b9cd5 !important; color: $white;}
.c-purple{background-color: #9a5cb4 !important; color: $white !important;}
.c-gray{ background-color: #8b8ea1; color: $white;}
.c-warning { background-color: #ff9600 !important; color: $white;}
.help-block{
	margin-bottom: 0;
	font-size: 12px;
}

.site-loader{
	position: fixed;
	background-color: rgba(0, 0, 0, 0.6);
	left: 0;
	top: 0;
	z-index: 9999;
	display: flex;
	right: 0;
	bottom: 0;
	.loader-content{
		width: 200px;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		img{
			max-width: 100px;
		}
		span{
			display: block;
			color: $white;
			margin: 10px 0 0;
			text-align: center;
		}
	}
}

.dropdown-menu{
	z-index: 9;
}

.sec-grp{
  position: relative;
  span {
    //position: absolute;
    //width: 20px;
    //height: 20px;
    //background-color: #4c973b;
    //line-height: 20px;
    //font-size: 12px;
    //text-align: center;
    //color: #ffffff;
    //right: -10px;
    //top: -12px;
    //border-radius: 50%;

    position: relative;
    width: 24px;
    height: 24px;
    background-color: #4c973b;
    line-height: 24px;
    font-size: 12px;
    text-align: center;
    color: #ffffff;
    right: -22px;
    top: -18px;
    border-radius: 60%;
    display: inline-block;
    font-weight: bolder;
  }
}

label{
	sup{
      color: #da2d38;
      font-size: 15px;
      top: -5px;
      margin-right: 5px;
	}
	.tooltip-info{
		max-width: 18px;
	}
}

.tooltip {
  display: block !important;
  z-index: 10000;
}

.tooltip .tooltip-inner {
  background: black;
  color: white;
  border-radius: 5px;
  padding: 5px 10px 4px;
  text-align: left;
  line-height: 14px;
  font-size: 10px;
}

.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: black;
}

.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="right"] {
  margin-left: 5px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^="left"] {
  margin-right: 5px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity .15s;
}

.loader-overlay{
	overflow: hidden;
}
.padb-20 {
  padding-bottom: 20px;
}

.marb-20{
  margin-bottom: 20px;
}

.progress-bar-wrapper { width: 85px; border-radius: 3px; overflow: hidden; }
.wrap-text { overflow-wrap: break-word; }

@media (max-width: 1199px) {
	body{
		font-size: 13px;
	}
	.section-row {
		padding: 50px 0 25px;
	}
}

.sticky { position: sticky; top: 20px; }

abbr[title] {
	text-decoration: none;
}

.ma-0 { margin: 0; }
.ml-0 { margin-left: 0; }
.mr-0 { margin-right: 0; }
.mt-0 { margin-top: 0; }
.mb-0 { margin-bottom: 0; }
.mx-0 { margin-left: 0; margin-right: 0; }
.my-0 { margin-top: 0; margin-bottom: 0; }

.ma-10 { margin: 10px; }
.ml-10 { margin-left: 10px; }
.mr-10 { margin-right: 10px; }
.mt-10 { margin-top: 10px; }
.mb-10 { margin-bottom: 10px; }
.mx-10 { margin-left: 10px; margin-right: 10px; }
.my-10 { margin-top: 10px; margin-bottom: 10px; }

.ma-20 { margin: 20px; }
.ml-20 { margin-left: 20px; }
.mr-20 { margin-right: 20px; }
.mt-20 { margin-top: 20px; }
.mb-20 { margin-bottom: 20px; }
.mx-20 { margin-left: 20px; margin-right: 20px; }
.my-20 { margin-top: 20px; margin-bottom: 20px; }

.ma-40 { margin: 40px; }
.ml-40 { margin-left: 40px; }
.mr-40 { margin-right: 40px; }
.mt-40 { margin-top: 40px; }
.mb-40 { margin-bottom: 40px; }
.mx-40 { margin-left: 40px; margin-right: 40px; }
.my-40 { margin-top: 40px; margin-bottom: 40px; }

.pa-0 { padding: 0; }
.pl-0 { padding-left: 0; }
.pr-0 { padding-right: 0; }
.pt-0 { padding-top: 0; }
.pb-0 { padding-bottom: 0; }
.px-0 { padding-left: 0; padding-right: 0; }
.py-0 { padding-top: 0; padding-bottom: 0; }

.pa-10 { padding: 10px; }
.pl-10 { padding-left: 10px; }
.pr-10 { padding-right: 10px; }
.pt-10 { padding-top: 10px; }
.pb-10 { padding-bottom: 10px; }
.px-10 { padding-left: 10px; padding-right: 10px; }
.py-10 { padding-top: 10px; padding-bottom: 10px; }

.pa-20 { padding: 20px; }
.pl-20 { padding-left: 20px; }
.pr-20 { padding-right: 20px; }
.pt-20 { padding-top: 20px; }
.pb-20 { padding-bottom: 20px; }
.px-20 { padding-left: 20px; padding-right: 20px; }
.py-20 { padding-top: 20px; padding-bottom: 20px; }

.widget-block label { display: block !important; }


/*** Sweet Alert CSS ***/
.swal2-popup {
  width: 50em !important;
}
.swal2-content {
  font-size: 1.5em !important;
  font-weight: lighter !important;
}
